<article class="listing">
  <a
    onclick={{action "toggleImageSize"}}
    class="image {{if this.isWide "wide"}}"
    role="button"
  >
    <img src={{this.rental.image}} alt="">
    <small>View Larger</small>
  </a>
  <div class="details">
    <h3>{{this.rental.title}}</h3>
    <div class="detail students">
      <span>Students:</span> {{this.rental.students}}
    </div>
    <div class="detail location">
      <span>Location:</span> {{this.rental.city}}
    </div>
  </div>
  <LocationMap @location={{this.rental.city}} />
</article>